<div class="card m-4">
  <div class="card-header">
    <h5>Login</h5>
  </div>
  <div class="card-body" [formGroup]="userLoginForm">
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          [ngClass]="{
            'is-invalid':
              (userLoginForm?.get('email')?.touched ||
                userLoginForm?.get('email')?.dirty) &&
              !userLoginForm?.get('email')?.valid,
            'is-valid': userLoginForm?.get('email')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="userLoginForm?.get('email')?.errors?.required">
            Email is required
          </span>
          <span *ngIf="userLoginForm?.get('email')?.errors?.email">
            Email invaild
          </span>
        </span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
          [ngClass]="{
            'is-invalid':
              (userLoginForm?.get('password')?.touched ||
                userLoginForm?.get('password')?.dirty) &&
              !userLoginForm?.get('password')?.valid,
            'is-valid': userLoginForm?.get('password')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="userLoginForm?.get('password')?.errors?.required">
            Password is required
          </span>
          <span *ngIf="userLoginForm?.get('password')?.errors?.minlength">
            Minimum length is 5
          </span>
        </span>
      </div>
    </div>

    <div class="row mb-3">
      <label for="isAdmin" class="col-sm-2 col-form-label">IsAdmin</label>
      <div class="col-sm-10">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="isAdmin"
          id="isAdmin"
          [ngClass]="{
            'is-invalid':
              (userLoginForm?.get('isAdmin')?.touched ||
                userLoginForm?.get('isAdmin')?.dirty) &&
              !userLoginForm?.get('isAdmin')?.valid,
            'is-valid': userLoginForm?.get('isAdmin')?.valid
          }"
        />
        <span class="invalid-feedback">
          <span *ngIf="userLoginForm?.get('isAdmin')?.errors?.required">
            IsAdmin is required
          </span>
        </span>
      </div>
    </div>
    <button (click)="login()" class="btn btn-primary">Login</button>
  </div>
</div>
